<div class="row text-center">
  <div class="col-xs-12">
    <h1>Schedule an Appointment</h1>
  </div>
  <div class="col-xs-12">
    <h2>Date</h2>
  </div>
  <div class="col-xs-12">
    <datepicker>
      <input type="text" placeholder="Temporary date"></input>      
    </datepicker>
  </div>
  <div class="col-xs-12">
    <h2>Time</h2>
  </div>
  <div class="col-xs-12">
    <input type="text" placeholder="Temporary time"></input>
  </div>
  <div class="col-xs-12">
    <h2>Trainer</h2>
  </div>
  <div class="col-xs-12"></div>
</div>
